.art_1-container{
    /*border: 0.5em dotted brown;*/
    /*margin-top: 10em;*//*was putting space between navbar and top of page that I didn't want*/
    width: auto;
    overflow: hidden;
    background-color: aquamarine;

    /*trying to add grid, following example in f/School/CSE_3330_Databases/website_messing/css_grid_layout_with_image_span*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.page-title{
    font-size: 10vw;
    color: white;
}

.art-title{
    color: red;
    font-size: 5vw;
}

.art-image{
    /*
    width: 50vw;
    height: 40vw;
    */
    
    width: 50vw;
    height: 50vw;
    /*making space for navbar at top*/
    margin-top: 23vw;
}

@media(max-width: 600px){
    .page-title{
        font-size: 15vw;
        color: white;
    }
}